<div class="box" style="background-image: url({{@blog.cover}})">
	<a class="logo-title" href="{{@blog.url}}">
		<img class="logo" src="{{{@blog.logo}}}" alt="">
		<h1 class="title">{{{@blog.title}}}</h1>
	</a>



	<p class="description">{{{@blog.description}}}</p>
	<div class="pages">
		<hr>
		<a href="{{@blog.url}}/about">About</a>
		<a href="{{@blog.url}}/contact">Contact</a>
		<hr>
	</div>

	<div class="shareditems">
		<a class="icon-social" target="_blank" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}">&#62218;</a>
					<a class="icon-social" target="_blank" href="http://www.facebook.com/sharer.php?u={{url absolute="true"}}">&#62221;</a>
					<a class="icon-social" target="_blank" href="https://plus.google.com/share?url={{url absolute="true"}}">&#62224;</a>
	</div>
</div>

<a href="javascript:;" class="back-to-top"><span class="icon">&#59231;</span><br/><span>Back to top</span></a>