<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    {{! Page Meta }}
		<title>{{meta_title}}</title>
		<meta name="description" content="{{meta_description}}" />
    {{! Responsive Meta Tags }}
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{! Styles }}
		<link rel="stylesheet" type="text/css" href="/assets/css/vendor/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/vendor/foundation.min.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />

		{{ghost_head}}
</head>
<body class="{{body_class}}">

	<div class="wrapper_rocky">

		<div class="content_rocky row">
			<div class="header_rocky medium-4 large-4 columns">
				{{> header}}
			</div>
			<div class="medium-8 large-8 columns">
				{{{body}}}
			</div>
		</div>

		{{> footer}}
	</div>


	{{ghost_foot}}
	<script src="/assets/js/jquery-scrolltofixed-min.js"></script>
	<script src="/assets/js/scripts.js"></script>

</body>
</html>